body {
  font-family: Karla;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  color: #293264;
  padding: 150px;
  text-align: center;
  font-family: Karla;
  font-weight: 700;
}

.quiz-wrapper {
  text-align: center;
  padding: 150px;
}

button{
  margin-top: 10px;
  background: #4D5B9E;
  border-radius: 15px;
  color: white;
  border-style: none;
  width: 190px;
  height: 50px;
}