body {
  margin-top: 30px;
  font-family: Karla;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  color: #293264;
  padding: 150px;
  text-align: center;
  font-family: Karla;
  font-weight: 700;
}
h1{
  color: #293264;
}
p {
  font-family: Inter;
  font-weight: 400;
  color: #293264;
}

.quiz-wrapper {
  text-align: center;
  padding: 150px;
}

button{
  margin-right: 10px;
  background: white;
  border-radius: 15px;
  color: rgb(33, 66, 85);
  border-color: #4D5B9E;
  border-style: solid;
  line-height: 12px;
  height: 30px;
}
.mainButton{
  margin-top: 10px;
  background: #4D5B9E;
  border-radius: 15px;
  color: white;
  border-style: none;
  width: 350px;
  height: 40px;
  text-align: center;
}
.wrap-quiz{
  text-align: center;
  justify-content: center;
}
.submit-button{
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  background: #4D5B9E;
  border-radius: 15px;
  color: white;
  border-style: none;
  width: 350px;
  height: 40px;
  
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-left: 0;
  color: #293264;
}
li{
  margin-right: 30px;
  border-radius: 15px;
}
.question-wrap{
  text-align: center;
}